# Build-automation files:
/.gradle/

# IDE-related files:
/.idea/edaphic/
/.idea/dictionaries/
/.idea/$CACHE_FILE$
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/workspace.xml

# Compilation output:
/**/build/
