
# Intellij IDEA:
/.idea/dictionaries
/.idea/edaphic/
/.idea/workspace.*
/.idea/uiDesigner.*

# Project Compilation Output:
/out/

# Project/Module Dependencies:
/lib/

# Generated resources:
Data/genresource/
